# Application
ENVIRONMENT=development
ALLOWED_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]

# JWT
SECRET_KEY=secret
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
REFRESH_TOKEN_LENGTH=32
ALGORITHM=HS256

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=workich_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
LOG_SQL=true

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=password